<div class="row">
    <div class="col-md-4 mt-5" *ngFor="let post of blogPosts">
        <div class="card">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title" [innerHtml]="post.title.rendered"></h5>
              <span>{{post.date | date:'short'}}</span>
              <p class="card-text" [innerHtml]="post.content.rendered | slice:0:200"></p>
              <a routerLink="/post/{{post.id}}" class="btn btn-primary">Read More</a>
            </div>
          </div>
    </div>
</div>
