
<div class="row">
    <div class="col-md-3 mb-5" *ngFor="let product  of allProduct">
        <div class="card">
            <img class="card-img-top" src="{{product.images[0].thumbnail}}" alt="Card image cap">
            <div class="card-body">
                <a ><h5 class="card-title" [innerHtml]="product.name"></h5></a>
                <!-- <span>{{post.date | date:'short'}}</span>
                <p class="card-text" [innerHtml]="post.content.rendered | slice:0:200"></p>
                <a routerLink="/post/{{post.id}}" class="btn btn-primary">Read More</a> -->
            </div>
            </div>
    </div>
</div>
